
<%
var pageTitle = page.title || config.subtitle || '';
if (is_archive()) pageTitle = 'Archives';
if (is_tag()) pageTitle = 'Tag: ' + page.tag;
if (is_category()) pageTitle = 'Category: ' + page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ': ' + page.year;
pageTitle += ' [ ' + config.title + ' ]';
%>

<!DOCTYPE html>
<html lang="<%=config.language%>">
<head>
  <meta charset="UTF-8">
  <title><%=pageTitle%></title>
  <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
    <!-- stylesheets list from config.yml -->
    <% theme.stylesheets.forEach(function(url) { %>
      <link rel="stylesheet" href="<%=url%>">
    <% }); %>
  <% } %>
</head>
<body>

<div id="body-outer">
  <div id="header-title"><h1>Hello, Blog!</h1></div>
<div id="menu-outer">
  <div id="menu-inner">
    <% Object.keys(theme.menu).forEach(function(key) { %>
      <a href="<%=theme.menu[key]%>"><%=key%></a>
    <% }); %>
  </div>
</div>

<div id="content-outer">
  <div id="content-inner">
    <%- body %>
  </div>
</div>

<div id="bottom-outer">
  <div id="bottom-inner">
    © 2017-2018 <%=config.author%>
    <br>
    本站所有内容均采用<a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0 协议</a>进行许可。
  </div>
</div>

</div>
<% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
  <!-- scripts list from theme config.yml -->
  <% theme.scripts.forEach(function(url) { %>
    <script src="<%=url%>"></script>
  <% }); %>
<% } %>

</body>
</html>
